[Unit]
Description=WWAN Dial On Demand
After=ModemManager.service
Requires=ModemManager.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 -u -m vyos.utils.wwan.dial_on_demand.dial_on_demand_controller %i
StandardOutput=journal
StandardError=journal
SyslogIdentifier=dial-on-demand
Restart=on-success
RestartSec=5s

[Install]
WantedBy=multi-user.target
