[Unit]
Description=VyOS WWAN SMS command service
After=dbus.service igos-wwan-manager.service network-online.target
Wants=network-online.target
BindsTo=igos-wwan-manager.service
ConditionPathExists=/etc/default/igos-wwan-sms-command
StartLimitIntervalSec=300
StartLimitBurst=3

[Service]
Type=simple
EnvironmentFile=-/etc/default/igos-wwan-sms-command
ExecStart=/usr/bin/igos-wwan-sms-command
Restart=on-failure
RestartSec=10
User=root
Group=vyattacfg

ProtectHome=read-only
ProtectSystem=strict
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
PrivateTmp=true
NoNewPrivileges=true
RestrictRealtime=true
LockPersonality=true
MemoryDenyWriteExecute=false

SupplementaryGroups=messagebus

Environment=PYTHONPATH=/usr/lib/python3/dist-packages
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=PYTHONUNBUFFERED=1

SyslogIdentifier=igos-wwan-sms-command
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
